.card {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 89%;
}

.star {
  height: 70px;
  width: 70px;
  color: #565364;
}

.rating-container {
  position: relative;
  margin-left: auto;
}

.rating {
  position: absolute;
  top: 32.5%;
  left: 30.5%;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}

.card-text {
  line-height: 4px;
  width: 160px;
  margin-top: 15px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.place {
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: rgb(39, 41, 46);
  text-transform: capitalize;
  margin: 0px;
}

.locale {
  font-size: 11px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 300;
  color: rgb(39, 41, 46);
  text-transform: capitalize;
  align-self: initial;
}