.circle {
  display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  height: 60px;
  width: 60px;
  background-color: #e9e5e5;
  border-radius: 50px;
    -webkit-border-radius: 50%;
}

.location {
  color: #bebebe;
  height: 30px;
  width: 30px;
}