.content{
  height: 540px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-y: scroll;
}

.local-profile {
  width: 400px;
  height: 94vh;
  padding: 10px;
  border-radius: 20px;
  background-color: white;
  border: 5px solid #fafafa;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}