.app {
  /*TODO: descomentar al terminar LocalProfile*/
  /* height: 100vh; */
  background-color: #bebebe;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

